<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - BlogCanvas</title>
    <style>
        *, *::before, *::after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body, input {
            background: #333;
            color: #fff;
        }

        main {
            width: 100%;
            min-height: 100vh;
            background: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
        }

        .box {
            width: 500px;
            background: rgba(255, 255, 255, 0.3);
            padding: 3rem;
            backdrop-filter: blur(30px);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        .logo h4 {
            font-size: 2rem;
            color: #fff;
            margin-bottom: 2rem;
        }

        .heading h2 {
            font-size: 3rem;
            font-weight: 700;
            color: #fff;
        }

        .input-wrap {
            position: relative;
            margin-bottom: 2rem;
        }

        .input-field {
            width: 100%;
            padding: 15px;
            background: rgba(255, 255, 255, 0.4);
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 1.2rem;
            color: #fff;
        }

        .sign-btn {
            width: 100%;
            background: #fff;
            color: #333;
            padding: 15px;
            border: none;
            border-radius: 15px;
            font-size: 1.2rem;
            cursor: pointer;
            font-weight: bold;
            transition: background 0.3s ease;
        }

        .sign-btn:hover {
            background: #444;
            color: #fff;
        }

        .toggle {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            display: block;
            margin-top: 2rem;
        }
    </style>
</head>

<body>
    <main>
        <div class="box">
            <div class="heading ">
                <h2>Login to Your Account</h2>
            </div>
            <form action="/loginUser" autocomplete="off" method="post">
                <div class="input-wrap">
                    <input type="text" name="email" class="input-field" required placeholder="Enter Your Email" />
                </div>
                <div class="input-wrap">
                    <input type="password" name="password" class="input-field" required placeholder="Enter Your Password" />
                </div>
                <input type="submit" value="Sign In" class="sign-btn" />
            </form>
            <a href="/register" class="toggle">Create an Account</a>
        </div>
    </main>
</body>
</html>
