<!DOCTYPE html>
<html>
<head>
    <title>Online Marketplace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #28a745;
        }
        .navbar-dark {
            background-color: #218838;
        }
        .navbar-dark .navbar-brand {
            color: #FFFFFF;
        }
        .navbar-dark .navbar-nav .nav-link {
            color: #FFFFFF;
        }
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #CCCCCC;
        }
        .container {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark mb-4">
        <a class="navbar-brand" href="/">Marketplace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <% if(user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Browse Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">View Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Create Account</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <%- include('./messages') %>